@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    color: #252525;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #57647C;
}
a{
    text-decoration: none;
}
b{
    color: $head-color;
    font-family: $main-font;
}