.features{

    .features-container{
        
        max-width: 1170px;
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-gap: 4rem;
        text-align: center;
        
        @include xl{
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
        }

        .features-text{
            
            text-align: center;
            
            @include xl{
                text-align: left;
                margin-top: -10rem;
                grid-column: 1/2;
                grid-row: 1/3;
            }
            @include xxl{
                margin-right: 2rem;
            }

            h1{
                
                font-size: 30px;
                line-height: 1.2;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10rem;

                @include md{
                    font-size: 40px;
                    width: 60%;
                }
                @include xl{
                    width: 90%;
                    margin-left: 0;
                    margin-right: 0;
                    text-align: left;
                }
                @include xxl{
                    font-size: 48px;
                }
            }

            p{

                @include xl{
                    width: 95%;
                }
            }

            button{
               
                margin-bottom: 5rem;

                @include xl{
                    width: 140px;
                    height: 50px;
                    font-size: 16px;
                }
            }         
        }

        p{

            font-size: 12px;
            line-height: 1.2;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            
            @media (min-width: 400px){
                width: 50%;
            }
            @include md{
                font-size: 14px;
                width: 50%;
            }
            @include xl{
                text-align: left;
                line-height: 1.5;
                margin-left: 0;
                margin-right: 0;
            }
            @include xxl{
                font-size: 18px;
                margin-bottom: 2.4rem;
                margin-top: -1rem;
            }
        }

        .features-grid{
            
            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            .features-grid-text{
                
                text-align: center;
    
                @include xl{
                    text-align: left;
                    margin-left: 4rem;
                }

                h2{

                    font-size: 16px;
                    line-height: 1.2;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    padding-bottom: 1.5rem;
    

                    @include md{
                        font-size: 18px;
                    }
                    @include xl{
                        margin-left: 0;
                        margin-right: 0;
                        text-align: left;
                    }
                    @include xxl{
                        font-size: 22px;
                    }
                }
                p{
                    
                    padding-bottom: 5rem;
                    
                    @include xl{
                        width: 90%;
                    }
                }
            }
        }
    }   
}