.news{

    .news-container{
        
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1170px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        @include md{
            grid-template-columns: repeat(2, 1fr);
        }
        @include xl{
            grid-template-columns: repeat(3, 1fr);
        }
        .news-header{

            padding-top: 10rem;
            
            @include md{
                grid-column: 1/3;
            }
            @include xl{
                grid-column: 1/4;
            }

            h1{

                font-size: 30px;
                line-height: 1.2;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-top: -0.5rem;
                
               @include md{
                font-size: 30px;
                width: 60%;
                margin-top: -2rem;
               }
               @include xl{
                width: 60%;
                font-size: 48px;
               }
            }
            p{
                font-size: 12px;
                line-height: 1.2;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2rem;
                 
                @include md{
                    font-size: 14px;
                    width: 50%;
                }
                @include xl{
                    width: 35%;
                    line-height: 1.5;
                }
                @include xxl{
                    width: 45%;
                    font-size: 18px;
                    margin-bottom: 4rem;
                    margin-top: -1rem;
                } 
            }
            
        }

        .news-1{
    
            @include md{
                grid-column: 1/2;
            }
        }
        .news-2{
            @include md{
                grid-column: 2/3;
            }
        }
        .news-3{
            @include md{
                grid-column: 1/3;
            }
            @include xl{
                grid-column: 3/4;
            }
        }
       
        .news-holder{
            
           
            img{
                    
                display: none;
                
                @include xl{
                    display: block;
                    padding-bottom: 20px;
                }
            }

            .news-holder-text{

                @include xl{
                    text-align: left;
                    padding-left: 30px;
                    padding-right: 64px;
                }

                .orange-text{
                    
                    @include xl{
                        margin-bottom: 0; 
                    }
                }

                h1{

                    width: 70%;
                    font-size: 18px;
                    margin-left: auto;
                    margin-right: auto;
                    @include xl{
                        width: 100%;
                        margin-top: 10px;
                        font-size: 22px;
                        margin-left: 0;    
                        margin-right: 0;
                    }
                }
                b{
                    width: 70%;
                    font-size: 18px;
                    margin-left: auto;
                    margin-right: auto;
                    
                    @include xl{
                        width: 100%;
                        margin-top: 10px;
                        font-size: 22px;
                        margin-left: 0;    
                        margin-right: 0;
                    }
                }
                .news-text{

                    width: 70%;
                    font-size: 12px;
                    margin-left: auto;
                    margin-right: auto;

                    @media (min-width: 460px){
                        width: 60%;
                    }
                    @media (min-width: 560px){
                        width: 50%;
                    }
                    
                    @include md{
                        width: 80%;
                    }
                    @include xl{
                        margin-left: 0;
                        margin-right: 0;
                        font-size: 18px;
                        width: 100%;
                        line-height: 1.8;
                    }
                }
                
                button{
                
                    margin-top: 0;
                    margin-bottom: 5rem;
                    width: 110px;
                    height: 35px;
                    font-size: 14px;
                    
                    @include xl{
                        width: 120px;
                        height: 45px;
                    }
                    @include xxl{
                        padding-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}