.statistics{


    .statistics-container{

        position: relative;
        max-width: 1270px;
        margin-right: auto;
        margin-left: auto;

        .statistics-text{

            text-align: center;
            
            @include xl{
                padding-bottom: 4rem;
            }

            h1{
                
                font-size: 30px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10rem;
    
                @include md{
                    width: 50%;
                }
                @include xl{
                    font-size: 48px;
                    width: 70%;
                }
            }
            p{

                width: 80%;
                font-size: 12px;
                margin-left: auto;
                margin-right: auto;
    
                @media (min-width: 460px){
                    width: 60%;
                }
                @media (min-width: 560px){
                    width: 50%;
                }

                @include md{
                    width: 80%;
                }
                @include xl{
                    font-size: 18px;
                    width: 55%;
                }
            }
        }

        .statistics-numbers{

            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;

            @include md{
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1rem;
            }
          
            

            .number-holder{

                text-align: center;

                .red-number{

                    font-size: 24px;
                    margin-top: 3rem;
                    font-weight: 600;
                    margin-bottom: -1rem;

                    @include xl{
                        font-size: 42px;
                    }
                }
                p{
                    font-size: 14px;

                    @include xl{
                        font-size: 18px;
                    }
                }
            }
        }

        .statistics-contact{
            
            max-width: 630px;
            margin-right: auto;
            margin-left: auto;
            grid-column: 1/3;
            text-align: center;
            justify-content: center;
            
            @include md{
                grid-column: 1/5;
            }
            @include xl{
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                margin-top: 80px;
                padding-left: 40px;
                padding-right: 47px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .contact-text{
                
                margin-left: auto;
                margin-right: auto;
               
                @include xl{
                    padding-right: 155px;
                }

                b{

                    margin-top: 3rem;
                    font-size: 14px;
                    width: 100%;
                    font-weight: 600;
                    
                    @include xl{
                        font-size: 21px;
                        margin-top: 1.5rem;
                    }
                }

                p{
                    font-size: 12px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0.3rem;
                    width: 100%;

                    @include xl{
                        font-size: 18px;
                        margin-top: 0.5rem;
                    }
                }
            }
            
            button{

                margin-top: 0;
                width: 110px;
                height: 35px;

                @include xl{
                    width: 160px;
                    height: 50px;
                    font-size: 16px;
                }
            }
        }

        .statistics-background{
            
            display:none;

           @include xl{
            display: block;         
            position: absolute;
            margin-left: -450px;    
            left: 50%;
            top: 40%;
            width: 100%;
            z-index: -1;

            img{
                width: 900px;
            }
           }
        }
    }












}